.img__carrousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.img__carrousel--cta {
  background-color: transparent;
  padding: 10px 20px;
  color: #fff;
  font-size:2rem;
  border: 2px solid #fff;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: #242125;
  }
}
