.hero__section {
  .hero__container {
     margin-top: 0;
    padding: 0 1rem;
    @include xs {
      margin-top: 24rem;
    }
    .hero__copy {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      max-width: 50%;
      @include lt-md {
        max-width: 100%;
      }
    }
    .hero__img {
    }
  }
}
