.navbar__link {
  font-family: $font-body;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  border: 2px solid transparent;
  padding: 0.25rem 0.5rem;
  &:hover {
    border: 2px solid #000;
  }
}
