.navbar__container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  @include gt-sm {
    justify-content: space-between;
  }
  .img__navbar--header {
    position: absolute;
    object-fit: cover;
    object-position: center 20rem;
    height: 75rem;
    border-radius: 0 0 22rem 22rem;
    z-index: 1;
    max-width: 40rem;
    @include xs{
      height: 50rem;
    }
    @include gt-sm {
      object-position: center 20rem;
      right: 0;
      max-width: 38rem;
    }
  }
  .navbar__links--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    z-index: 10;
    .navbar__logo {
    }
    .navbar__links--container-anchor {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 3.5rem;
      left: 0;
      background-color: #ccc;
      width: 100%;
      // min-height: 100vh;
      padding: 2rem 0;
    }
  }
  .navbar__link {
    font-family: $font-body;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    border: 2px solid transparent;
    padding: 0.25rem 0.5rem;
    &:hover {
      border: 2px solid #000;
    }
  }
  .navbar__button--container {
    display: flex;
    gap: 2rem;
  }
}
