img {
  max-width: 100%;
  width: 100%;
}

hr {
  margin: 1rem 0;
}

.navbar__container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.navbar__container .img__navbar--header {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 20rem;
     object-position: center 20rem;
  height: 50rem;
  max-width: 40rem;
  border-radius: 0 0 22rem 22rem;
  z-index: 1;
}
.navbar__container .navbar__links--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  z-index: 10;
}
.navbar__container .navbar__links--container .navbar__links--container-anchor {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  left: 0;
  background-color: #ccc;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0;
}
.navbar__container .navbar__link {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  border: 2px solid transparent;
  padding: 0.25rem 0.5rem;
}
.navbar__container .navbar__link:hover {
  border: 2px solid #000;
}
.navbar__container .navbar__button--container {
  display: flex;
  gap: 2rem;
}

.cta {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: 2px solid #242125;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: #000;
  background-color: transparent;
  padding: 0.5rem;
  text-decoration: none;
  min-width: 135px;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.cta:hover {
  background-color: #242125;
  color: #fff;
  transition: 0.25s;
}
@media screen and (min-width: 960px) {
  .cta {
    font-size: 1.25rem;
  }
}

.cta__seeAll {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #000;
  max-width: 175px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 1.25rem;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms ease-out;
}
.cta__seeAll:hover {
  background-color: rgb(224, 224, 224);
}

.heading__section {
  font-family: "Montserrat", Arial;
  font-size: 2rem;
  font-weight: 300;
  text-align: start;
  color: #fff;
}

.heading__section--black {
  color: #000;
}

.heading__hash--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 4rem;
}
.heading__hash--container .heading__hash--hr {
  flex: 1;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.heading__hash--container .heading__hash--title {
  color: #000;
  font-family: "Montserrat", Arial;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.25rem;
}
@media screen and (max-width: 959px) {
  .heading__hash--container .heading__hash--title {
    font-size: 1.5rem;
  }
}

.heading__box--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0.5rem;
  padding: 2rem 1rem;
  background: rgb(248, 248, 248);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 24px solid #000;
  position: relative;
  width: 100%;
}
.heading__box--container .heading--box {
  position: absolute;
  top: -2rem;
}

.paragraph {
  font-size: 1.15rem;
  font-family: "Poppins", sans-serif;
  text-align: start;
  word-break: break-word;
  color: #242125;
}

.section__title {
  font-family: "Montserrat", Arial;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: start;
  word-break: break-word;
}

.section__title--black {
  color: #000;
}

.section__title--white {
  color: #fff;
}

.section__title--subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  word-break: break-word;
  text-align: start;
  text-transform: capitalize;
}

.main__container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.collection__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 3rem;
  min-height: 110vh;
  background-color: #000;
}
@media screen and (max-width: 599px) {
  .collection__container {
    padding: 1rem;
  }
}
.collection__container .collection__heading--logo {
  fill: rgb(168, 168, 168);
  max-width: 125px;
}
.collection__container .collection__copy {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 599px) {
  .collection__container .collection__copy {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}
.collection__container .collection__copy .collection__title {
  font-family: "Montserrat", Arial;
  font-weight: 100;
  max-width: 500px;
  font-size: 3.25rem;
}
@media screen and (max-width: 599px) {
  .collection__container .collection__copy .collection__title {
    font-size: 2.25rem;
  }
}
.collection__container .collection__copy .collection__more {
  font-family: "Montserrat", Arial;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  color: currentColor;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 22px, 12px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.collection__container .collection__copy .collection__more:hover {
  border-bottom: 2px solid #ccc;
}
.collection__container .collection__slider--layout {
  display: contents;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .collection__container .collection__slider--layout {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .collection__container .collection__slider--layout {
    display: none;
  }
}
.collection__container .collection__slider--layout .collection__slider--container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  filter: grayscale(0.15);
  overflow-x: scroll;
}
.collection__container .collection__slider--layout .collection__slider--container .collection__slider--img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 200px;
}
.collection__container .collection__images--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 959px) {
  .collection__container .collection__images--wrapper {
    display: none;
  }
}
.collection__container .collection__images--wrapper .collection__carrousel--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-height: 360px;
}
.collection__container .collection__images--wrapper .collection__carrousel--container .img__item--carrousel {
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 0.75;
  filter: grayscale(0.15);
}
.collection__container .collection__images--wrapper .collection__carrousel--container .img__item--position {
  -o-object-position: top;
     object-position: top;
}
.collection__container .collection__images--wrapper .collection__carrousel--container .img__brand--header {
  max-width: 30rem;
  border-radius: 20rem;
  padding: 8px;
  border: 2px solid #fcf7e7;
}
.collection__container .collection__images--wrapper .collection__button--slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.brand__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding: 0.5rem 1rem;
  max-width: 100%;
  min-height: 100vh;
  margin: 6rem 0;
}
@media screen and (max-width: 599px) {
  .brand__container {
    gap: 1.5rem;
    margin: 3rem 0;
  }
}
.brand__container .img__brand--header {
  max-width: 25rem;
  min-height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #acc999;
  padding: 0.25rem;
  border-radius: 20rem;
}
@media screen and (max-width: 599px) {
  .brand__container .img__brand--header {
    max-width: 15rem;
  }
}
.brand__container .brand__copy {
  display: flex;
  flex-direction: column;
  max-width: 575px;
  gap: 1rem;
}
@media screen and (max-width: 599px) {
  .brand__container .brand__copy {
    max-width: 100%;
  }
}

.hero__container {
  margin-top: 24rem;
  padding: 0 1rem;
}
.hero__container .hero__copy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}
@media screen and (max-width: 959px) {
  .hero__container .hero__copy {
    max-width: 100%;
  }
}
.gift__container {
  background-image: url(https://0.soompi.io/wp-content/uploads/2019/10/22220737/twice-jeongyeon-61.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 599px) {
  .gift__container {
    background-position: 0;
  }
}
.gift__container .gift__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.56);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  height: 100%;
}
@media screen and (max-width: 599px) {
  .gift__container .gift__copy {
    background-color: rgba(0, 0, 0, 0.75);
    gap: 1rem;
    padding: 1rem;
  }
}
.gift__container .gift__copy .gift__heading--sub {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
@media screen and (max-width: 599px) {
  .gift__container .gift__copy .gift__heading--sub {
    font-size: 1rem;
  }
}
.gift__container .gift__copy .gift__heading--title {
  font-size: 4.5rem;
  font-weight: 500;
  font-family: "Montserrat", Arial;
}
@media screen and (max-width: 599px) {
  .gift__container .gift__copy .gift__heading--title {
    font-size: 3rem;
  }
}
.gift__container .gift__copy .gift__copy--paragraph {
  max-width: 50rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  text-transform: capitalize;
}
@media screen and (max-width: 599px) {
  .gift__container .gift__copy .gift__copy--paragraph {
    font-size: 1rem;
  }
}
.gift__container .gift__copy .gift__button {
  min-width: 25rem;
  color: #fff;
  border-color: #fff;
}
@media screen and (max-width: 599px) {
  .gift__container .gift__copy .gift__button {
    min-width: 10rem;
  }
}

.discount__container {
  background-image: url(https://0.soompi.io/wp-content/uploads/2019/10/22193013/TWICE-Jeongyeon-3.jpg);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.discount__container .discount__copy--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  padding: 2rem;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 960px) {
  .discount__container .discount__copy--container {
    align-items: flex-start;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.discount__container .discount__copy--container .discount__copy--info {
  font-family: "Montserrat", Arial;
  font-weight: 100;
  text-transform: uppercase;
}
.discount__container .discount__copy--container .discount__copy--subtitle {
  text-transform: uppercase;
}
.discount__container .discount__copy--container .discount__copy--title {
  font-size: 2.5rem;
  font-family: "Montserrat", Arial;
  font-weight: 300;
  text-transform: uppercase;
}
.discount__container .discount__copy--container .discount__copy--title--bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.discount__container .discount__copy--container .discount__copy--paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  max-width: 350px;
}
.discount__container .discount__button {
  color: #fff;
  border-color: #fff;
  min-width: 300px;
}

.fashion__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  min-height: 14rem;
  padding: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .fashion__card {
    padding: 2rem;
  }
}
.fashion__card .fashion__card--img {
  aspect-ratio: 1/1;
  transition: transform 300ms ease;
  cursor: pointer;
}
.fashion__card .fashion__card--img:hover {
  transform: scale(0.95);
}
.fashion__card .fashion__copy--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
.fashion__card .fashion__copy--container .fashion__copy--title {
  font-family: "Poppins", sans-serif;
  word-break: break-word;
  font-weight: 400;
  font-size: 1.5rem;
}

.fashion__container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
}
.fashion__container .fashion__card--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin: 0 auto;
}

.shopnow__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(131, 131, 131);
  align-items: flex-start;
}
@media screen and (max-width: 599px) {
  .shopnow__container {
    margin: 1rem;
  }
}
.shopnow__container .claire__logo {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
}
.shopnow__container .shopnow__copy--container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 350px;
}
.shopnow__container .shopnow__copy--container .shopnow__copy--title {
  text-transform: uppercase;
  font-family: "Montserrat", Arial;
  font-weight: 600;
  font-size: 1.75rem;
}
.shopnow__container .shopnow__copy--container .shopnow__copy--paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.shopnow__container .shopnow__button {
  min-width: 200px;
  align-self: center;
}

.article__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.article__container .article__picture--container .picture__img {
  transform: scale(0.95);
  aspect-ratio: 1/1;
  max-width: 500px;
  transition: transform 300ms ease;
  cursor: pointer;
}
.article__container .article__picture--container .picture__img:hover {
  transform: scale(1);
}
.article__container .article__copy--container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 550px;
  flex: 1 0 270px;
}
@media screen and (min-width: 960px) {
  .article__container .article__copy--container {
    flex: 1 0 300px;
    gap: 1.5rem;
  }
}
.article__container .article__copy--container .article__copy--title {
  font-family: "Montserrat", Arial;
  font-size: 1.5rem;
  text-transform: capitalize;
}
@media screen and (min-width: 960px) {
  .article__container .article__copy--container .article__copy--title {
    font-size: 2rem;
  }
}
.article__container .article__copy--container .article__copy--paragraph {
  font-family: "Poppins", sans-serif;
  line-height: 110%;
}
@media screen and (min-width: 960px) {
  .article__container .article__copy--container .article__copy--paragraph {
    font-size: 1.15rem;
  }
}

.middle--hash {
  width: 4rem;
  height: 2px;
  background-color: #000;
}

.article__copy--cta {
  align-self: center;
}

.img__carrousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.img__carrousel--cta {
  background-color: transparent;
  padding: 10px 20px;
  color: #fff;
  font-size: 2rem;
  border: 2px solid #fff;
  font-weight: 700;
  cursor: pointer;
}
.img__carrousel--cta:hover {
  background-color: #242125;
}/*# sourceMappingURL=style.css.map */